@tailwind base;
@tailwind components;
@tailwind utilities;

.about-bg-image {
    background-image: url(./assets/globe-1849404.png);
    background-position: center;
    background-size: cover;
    filter: blur(2px);
}

.skill-bg-wallpaper {
    background-image: url(./assets/6372463_3200146.jpg);
    background-position: center;
    background-size: cover;

}